body {
  display: flex;
  justify-content: center;
  background-color: #5575a8;
}

h1 {
  font-family: 'Questrial', sans-serif;
}

footer {
  text-align: center;
  margin-top: 2%;
  font-family: 'Questrial', sans-serif;
}